<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Product Management  
              <strong class="badge text-bg-primary" *ngIf="exclusive">Exclusive</strong></a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reactiveForm">Reactive Form</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <button type="button" class="btn btn-outline-danger" routerLink="/">Sign In</button>
          </li>
          <li class="nav-item profile" *ngIf="isLoggedIn">
            <span type="button"  data-bs-toggle="dropdown">
              <ul class="dropdown-menu" style="margin-left: 35%;">
                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                <li><a class="dropdown-item" routerLink="profile">View Profile</a></li>
                <li><a class="dropdown-item" [queryParams]="{EditMode:true}" routerLink="profile">Edit Profile</a></li>
                <li><a class="dropdown-item" routerLink="/change-password">Change Password</a></li>
                <li><a class="dropdown-item" (click)="onSignOut()">Sign Out</a></li>
                <!-- <li><hr class="dropdown-divider"></li> -->
                <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
              </ul>
            
            <img src="{{user.photoUrl ? user.photoUrl : 'assets/avatar.png' }}" width="40" height="40" class="rounded-circle">
          </span>
          </li>
        </ul>
        

      </div>
    </div>
  </nav>